/* Default transition for entering */
.page-enter-active, .page-leave-active {
    transition: opacity 0.5s, transform 0.5s;
  }
  .page-enter-from {
    opacity: 0;
    transform: translateY(20px);
  }
  .page-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }